altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/altgraph-0.17.2-py2.py3-none-any.whl
autopep8==2.0.2
bitarray==2.8.0
bitstring==4.1.0
blinker==1.7.0
cffi==1.15.1
click==8.1.7
cryptography==41.0.3
distlib==0.3.8
ecdsa==0.18.0
esptool==4.6.2
filelock==3.13.1
Flask==3.0.2
Flask-Cors==4.0.0
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/future-0.18.2-py3-none-any.whl
importlib-metadata==7.0.1
itsdangerous==2.1.2
Jinja2==3.1.3
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/macholib-1.15.2-py2.py3-none-any.whl
MarkupSafe==2.1.5
packaging==23.2
platformdirs==4.2.0
pycodestyle==2.10.0
pycparser==2.21
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
pyserial==3.5
PyYAML==6.0.1
reedsolo==1.7.0
six @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/six-1.15.0-py2.py3-none-any.whl
tomli==2.0.1
virtualenv==20.25.1
waitress==3.0.0
Werkzeug==3.0.1
zipp==3.17.0
