.flex-container {
  display: flex;
  justify-content: flex-start;
}

/* TOP LEVEL */
.headline {
  padding: 15px;
}

.headline h1 {
  color: white;
  font-size: 36px;
  font-weight: 900;
  text-shadow: #000 3px 3px 5px, rgba(204, 0, 0, 0.5) -1px -1px 5px;
}

.headline p {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-shadow: #000 3px 3px 5px, rgba(204, 0, 0, 0.5) -1px -1px 5px;
}

.calculate-button {
  padding: 15px;
  margin: 15px;
  border-radius: 12px;
  border: rgb(204, 0, 0) 3px solid;
  background-color: #000000b0;
  color: white;
  font-size: 16px;
  font-weight: 500px;
  box-shadow: 0.5px 1px 5px 1px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

/* SUBJECT LINE */
.subject-line {
  background-color: #000000b0;
  padding: 22px;
  border-radius: 12px;
  border: 3px solid rgb(204, 0, 0);
  margin: 0 10px 8px 10px;
  position: relative;
  box-shadow: 0.5px 1px 5px 1px rgba(255, 255, 255, 0.2);
}

.subject-line label {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(204, 0, 0, 0.5);
  margin-left: 30px;
  margin-right: 20px;
}

/* SUBJECT SELECTOR */
.subject {
  width: 130px;
  height: 50px;
  padding-left: 30px;
  border-radius: 12px;
  outline: 2px solid rgb(204, 0, 0);
  box-shadow: 1px 1px 6px 2px rgba(255, 255, 255, 0.3);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #ffffff30;
  color: white;
}

.subject.individual {
  padding-left: 8px;
}

/* QUANTITY SELECTOR */
.quantity-input-wrapper {
  display: flex;
  align-items: center;
}

.quantity-input {
  background-color: #ffffff30;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 26px;
  height: 30px;
  padding: 5px;
  padding-left: 20px;
  border-radius: 10px;
  border: 2px solid rgb(204, 0, 0);
  box-shadow: 1px 1px 6px 1px rgba(255, 255, 255, 0.2);
}

.two-dig-qty {
  padding-left: 12px !important;
  width: 34px;
}

/* PACKAGE SELECTOR */
.package {
  background-color: #ffffff30;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 100px;
  height: 30px;
  padding: 5px;
  padding-left: 12px;
  border-radius: 10px;
  border: 2px solid rgb(204, 0, 0);
  box-shadow: 1px 1px 6px 1px rgba(255, 255, 255, 0.2);
}

/* RESULTS POPUP */
.modal {
  width: 60vw;
  min-height: 30%;
  max-height: 90vh;
  background-color: rgba(255, 255, 255, 0.84);
  overflow-y: auto;
  border-radius: 15px;
  border: 5px solid rgb(204, 0, 0);
  margin: 5vh 10px 5vh 10px;
}

.close {
  cursor: pointer;
  border-radius: 25px;
  border: 6px solid black;
  text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.25);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 900;
  margin: 8px;
}

.popup-header {
  display: flex;
  justify-content: center;
  margin: -10px 20px 0px 20px;
  text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px,
    rgba(255, 255, 255, 0.3) -1px -1px 5px;
}

.results {
  flex-direction: row;
  padding: 0 20px 10px 20px;
}

.results-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 700;
  text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 0 10px 0 10px;
}

.results-line::after {
  content: "";
  position: absolute;
  left: 1%;
  bottom: 0px;
  width: 98%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
